{% extends 'normal_page.html' %}

{% block title  -%}
Home page
{%- endblock %}

{% block css %}
    {{super( )  }}
    <style>
        h1{
            color:goldenrod
        }
    </style>
{% endblock %}


{% block content %}
<h1>hello,world.</h1>

{# {% macro box() %}
    <div style="border:{{color}} solid 1px">{{message}}</div>
{% endmacro %}

{{ box('0v0',red) }}
{{box() }} #}
{% import 'macro.html' as macro %}
{{macro.box('<h1>0v0</h1>','red') }}
{{macro.box()}}

<hr>
{% call macro.box2('red') %}
{% endcall %}

{% endblock %}
